<div class="wrapper">
  <!-- <app-header></app-header> -->
  <!-- <app-navigation></app-navigation> -->
  <app-pbireport></app-pbireport>  

  <!-- <app-pbidashboard></app-pbidashboard> -->

  <!-- <app-pbiembed></app-pbiembed> -->

  <!-- <app-pbitoken></app-pbitoken> -->

  <!-- <app-pbiurl></app-pbiurl> -->

  <!-- <app-pbilast></app-pbilast> -->

  <!-- <app-pbidemo></app-pbidemo> -->

  <!-- <app-pbi-demo-shubham></app-pbi-demo-shubham> -->



  <!-- <app-pbifirst></app-pbifirst> -->

</div>